<html>
    <head>
      <link rel="stylesheet" href="css/bootstrap.min.css">
      <link rel="stylesheet" href="sass/style.css">
    </head>
	
    <body>
    <div class="container" ng-app="myShoppingList" ng-controller="myCtrl">
      <h1>Progress bars</h1>
      <div class="box col-sm-6 col-sm-offset-3" ng-repeat="X in apiresult.bars track by $index" >
          <div class="progress-outer" >
            <div class="progress-bar-inner"  ng-class="{'red': X > apiresult.limit}"  value="{{$index}}" style="width:{{((X / apiresult.limit)*100).toFixed()}}%"></div>
         </div>
         <p>{{X}}/{{apiresult.limit}}</p>
      </div>
      <div class="col-sm-offset-3 col-sm-6">
        <div class="row">
			<div class="col-sm-4">
			  <select id="mySelect" ng-model="barid" class="form-control" ng-init="barid='0'">
				<option ng-repeat="Z in apiresult.bars track by $index" value="{{$index}}">Bar {{$index+1}}</option>
			  </select> 
			</div>
			  
			<div class="col-sm-8">
			   <button class="btn btn-primary" ng-repeat="Y in apiresult.buttons track by $index" type="button" ng-click="updatebar(barid, Y )">{{Y}}</button> 
			</div>
		</div>
      </div>
    </div>
	  <script src="../bower_components/angular/angular.min.js"></script>
      <script src="js/app.js"></script>
      <script src="js/controller/index-controller.js"></script>
   </body>
  </html>